/* Text stroke since the tailwind stroke doesnt seem to work for some reason */
.juanStroke
{
    text-shadow: 
    -1px -1px 0 black, 
    1px -1px 0 black,  
    -1px 1px 0 black,  
    1px 1px 0 black;   
}

.juanButton 
{
    border-bottom-color: white;
    border-right-color: white;
    border-top-color: black ;
    border-left-color:black ;
}